body {
  margin: 0;

  background: no-repeat fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/background.jpg);
  background-position: top center;
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  display: inline-block;
  min-width: 220px;
  width: 220px;
  height: 60px;
  padding: 0 10px;
  background-color: transparent;
  border: solid 1px #aaa;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 55px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #aaa;
  border: solid 1px #fff;
  color: #fff;
  cursor: pointer;
}
